<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.xj3d.browser.sai_app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.xj3d.browser.sai_app.Perspective"
            id="org.xj3d.browser.sai_app.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="org.xj3d.browser.sai_app.View"
            id="org.xj3d.browser.sai_app.view">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.xj3d.browser.sai_app.application"
            name="Xj3D SAI Browser">
         <property
               name="windowImages"
               value="icons/yumetech-16x16.gif"/>
      </product>
   </extension>

</plugin>
