<html>
    <body>
        <p>
        An Eclipse View plugin of the Xj3D Browser.
        </p>
        <p>
        Note that this package requires a set of <b>Version 3.2</b> Eclipse libraries 
        in your class path to compile and be compatible with Xj3D. These can be located
        at: <a href="http://download.eclipse.org/eclipse/downloads/index.php">
            eclipse project downloads</a>. The minimum set of Eclipse libraries 
        required for compilation are:
        <ul>
        <li>org.eclipse.core.commands</li>
        <li>org.eclipse.core.jobs</li>
        <li>org.eclipse.equinox.common</li>
        <li>org.eclipse.equinox.registry</li>
        <li>org.eclipse.jface</li>
        <li>org.eclipse.ui.workbench</li>
        </ul>
        Additional libraries from the Eclipse package are required to run. The 
        Eclipse RCP-SDK should provide a suitable base execution environment.
    </body>
</html>
